extends layout
block css
    link(rel="stylesheet" href="vendor/select2/select2.css")
    link(rel="stylesheet" href="vendor/jquery-datatables-bs3/assets/css/datatables.css")
    link(rel="stylesheet" href="vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="css/utility.css")
block info
    script.
        var email = "!{email}"
        var page_name = "backend_page";
        var page_child_name = "order_management_page";
        var token = null;
        var row_id = null;
        function ask(tk, id) {
            token = tk;
            row_id = id;
            $("#a").click();

        }

        function delete_user(e) {
            $(".modal-dismiss").click();

            if (!token || !row_id) {
                alert("Chưa chọn");
                return;
            }

            $.ajax({
                url: "/userManagementMobile/delete",
                type: "post", //send it through get method
                data: {
                    data: JSON.stringify({
                        token: token
                    })
                },
                success: function (response) {
                    //Do Something
                    if (response.response_code == "ERRO_NOT_FOUND") {
                        alert(response.description);
                    } else {
                        var table = $('#datatable-details').DataTable();
                        table
                            .row($("#row" + row_id))
                            .remove()
                            .draw();
                        new PNotify({
                            title: token,
                            text: 'Đã xóa thành công.',
                            type: 'success'
                        });
                    }

                },
                error: function (xhr) {
                    //Do Something to handle error
                    alert("lỗi");

                }
            });
        }
block header
    header.page-header
        h2 Danh sách hóa đơn
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")
                li
                    span hóa đơn
                li
                    span Danh sách hóa đơn

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    // start: page
    section.panel
        div.panel-body
            table.table.table-bordered.table-striped.mb-none#datatable-tabletools(data-src=data data-swf-path="vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf")
                thead
                    tr
                        th email
                        th status
                        th amount
                        th payment_method
                        th created_at
                        th updated_at
                        th action

                tbody
                    -for (var i = 0; i < data.length; i++)
                        tr.gradeX(id="row"+i)
                            td #{data[i].email}
                            td #{data[i].status}
                            td #{data[i].amount}
                            td #{data[i].payment_method}
                            td #{data[i].created_at}
                            td #{data[i].updated_at}
                            td
                                button(class="btn btn-default" onclick='ask("' + data[i].token + '","' + i + '")' )
                                    i(class="fa fa-trash-o")

            a(class="mb-xs mt-xs mr-xs modal-basic btn btn-primary hide" id="a"  href="#modalPrimary") Primary

                div(id="modalPrimary" class="modal-block modal-block-primary mfp-hide")
                    section(class="panel")
                        header(class="panel-heading")
                            h2(class="panel-title") Thông báo
                        div(class="panel-body")
                            div(class="modal-wrapper")
                                div(class="modal-icon")
                                    i(class="fa fa-question-circle")
                                div(class="modal-text")
                                    h4 Bạn có chắc muốn xóa không
                        footer(class="panel-footer")
                            div(class="row")
                                div(class="col-md-12 text-right")
                                    button(class="btn btn-primary modal-confirm" onclick='delete_user(this)') Có
                                    button(class="btn btn-default modal-dismiss") Không



block JS
    script(src="vendor/select2/select2.js")
    script(src="vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="vendor/jquery-datatables-bs3/assets/js/datatables.js")

    script(src="vendor/pnotify/pnotify.custom.js")
    script(src="js/userManagementMobile.js")
