extends ../layout
block css
    link(rel="stylesheet" href="assets/app/vendor/pnotify/pnotify.custom.css")
    link(rel="stylesheet" href="assets/app/vendor/select2/select2.css")
    link(rel="stylesheet" href="assets/app/vendor/jquery-datatables-bs3/assets/css/datatables.css")
    link(rel="stylesheet" href="assets/app/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css")
    link(rel="stylesheet" href="assets/app/css/utility.css")

block header
    header.page-header
        h2 Cập nhật phiên bản tự động
        div(class="right-wrapper pull-right")
            ol.breadcrumbs
                li
                    a(href="dashboard")
                        i(class="fa fa-home")
                li
                    span Cập nhật phiên bản tự động

            a(class="sidebar-right-toggle" data-open="sidebar-right")
                i(class="fa fa-chevron-left")

block content

    script.
        var page_name = "backend_page";
        var page_child_name = "desktop_update_page";
        function updateAll() {
            var url = $('#url').val();
            var version = $('#version').val();

            $.ajax({
                url: "/desktopUpdates/update-all-machine",
                type: "post", //send it through get method
                data: {
                    data: JSON.stringify({
                        url: url,
                        version: version
                    })
                },
                success: function (response) {
                    //Do Something
                    if (response.response_code == "SUCC_UPDATE_RIG_MACHINE") {
                        alert("gửi tín hiệu thành công");

                        $('#datatable-tabletools > tbody  > tr').each(function () {
                            var td = $(this).find(".disered");
                            td.html(version);

                        });
                    } else {
                        alert(response.description);

                    }
                },
                error: function (xhr) {
                    //Do Something to handle error
                    alert("lỗi máy chủ bảo trì");

                }
            });
        }
        function updateMachine(id) {
            if(id.length == 0){
                alert("machine_id không được trống");
                return;
            }
            var url = $('#url').val();
            var version = $('#version').val();
            var td = $("#"+id).find(".disered");

            $.ajax({
                url: "/desktopUpdates/update-one-machine",
                type: "post", //send it through get method
                data: {
                    data: JSON.stringify({
                        machine_id: id,
                        url: url,
                        version: version
                    })
                },
                success: function (response) {
                    //Do Something
                    if (response.response_code == "SUCC_UPDATE_RIG_MACHINE") {
                        alert("gửi tín hiệu thành công");
                        td.html(version);
                    }else {
                        alert(response.description);

                    }
                    },
                error: function (xhr) {
                    //Do Something to handle error
                    alert("Máy chủ bảo trì. Không thể đăng ký vào lúc này!");

                }
            });

        }

        function changeLatestUrlVersion() {
            var url = document.getElementById("url").value;
            var version = document.getElementById("version").value;
            if(url.length == 0 || version.length == 0){
                alert("còn trống dữ liệu");
                return;
            }

            $.ajax({
                url: "/desktopUpdates/update-url-version",
                type: "post",
                data: {
                    url: url,
                    version: version
                },
                success: function (response) {
                    if (response.response_code == "SUCC_UPDATE_FEED_URL_AND_VERSION") {
                        new PNotify({
                            title: 'Thông báo!',
                            text: 'Đã cập nhật thành công',
                            type: 'success'
                        });
                        $('#datatable-tabletools > tbody  > tr').each(function () {
                            var versionEle = $(this).find(".version");
                            var check = $(this).find(".check");
                            var button = $(this).find(".button");
                            if(versionEle.html() == version){
                                check.prop('checked', true);
                                button.addClass("hide");
                            }else {
                                check.prop('checked', false);
                                button.removeClass("hide");
                            }

                        });


                    } else {
                        // nothing
                    }
                },
                error: function (xhr1) {
                    alert("Máy chủ bảo trì. Không thể đăng ký vào lúc này!");
                }
            });

            var req = new XMLHttpRequest();
            req.open("POST", "/desktopUpdates/update-url-version?url=" + url+"&version="+version, true);
            req.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    alert("thay đổi thành công");
                }
            }
        }



    div(class="row")
        div(class="col-lg-12")
            section(class="panel")
                header(class="panel-heading")
                    div(class="panel-actions")
                        a(href="#" class="panel-action panel-action-toggle" data-panel-toggle)
                        a(href="#" class="panel-action panel-action-dismiss" data-panel-dismiss)

                    h2(class="panel-title") Thông tin cập nhật

                div(class="panel-body")
                    div(class="form-group")
                        label(class="col-md-3 control-label"  for="inputDefault") Đường dẫn câp nhật
                        div(class="col-md-6")
                            input#url(type="text" class="form-control"  value=url )
                    div(class="form-group")
                        label(class="col-md-3 control-label" for="inputDefault") Phiên bản
                        div(class="col-md-6")
                            input#version(type="text" class="form-control"  value=version )

                footer(class="panel-footer")
                    div(class="row")
                        div(class="col-sm-9 col-sm-offset-3")
                            button.btn.btn-primary.btn-delete(onclick='changeLatestUrlVersion()')= "Thay đổi"


    div(class="row")
        div(class="col-lg-12")
            section(class="panel")
                header(class="panel-heading")
                    div(class="panel-actions")
                        a(href="#" class="panel-action panel-action-toggle" data-panel-toggle)
                        a(href="#" class="panel-action panel-action-dismiss" data-panel-dismiss)

                    button.btn.btn-default.btn-delete(onclick='updateAll()')= "Cập nhật tất cả"

                div(class="panel-body")
                    div(class="form-group")

                        table.table.table-bordered.table-striped.mb-none#datatable-tabletools(data-swf-path="assets/app/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf")
                            thead
                                th Email
                                    th Name
                                    th Machine_id
                                    th version
                                    th desired_version
                                    th is_latest
                                    th update_button

                            tbody
                                each miner in data
                                    tr.gradeX(id=miner.machine_id)
                                        td #{miner.email}
                                        td #{miner.name}
                                        td #{miner.machine_id}
                                        td.version #{miner.lazy_desktop_version}
                                        td.disered #{miner.desired_version}
                                        td
                                            div(class="checkbox-custom checkbox-default")
                                                if miner.lazy_desktop_latest == 1
                                                    input(class="check" type="checkbox" checked="" disabled)
                                                else
                                                    input(class="check" type="checkbox" disabled)
                                                label(for="checkboxExample1")

                                        td
                                            if miner.lazy_desktop_latest == 0
                                                button(class="button btn btn-primary" onclick='updateMachine("' + miner.machine_id + '")')= "update"
                                            else
                                                button(class="button btn btn-primary hide" onclick='updateMachine("' + miner.machine_id + '")')= "update"


block JS
    script(src="assets/app/vendor/pnotify/pnotify.custom.js")
    script(src="assets/app/vendor/select2/select2.js")
    script(src="assets/app/vendor/jquery-datatables/media/js/jquery.dataTables.js")
    script(src="assets/app/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js")
    script(src="assets/app/vendor/jquery-datatables-bs3/assets/js/datatables.js")
    script(src="js/eventManagementPage.js")
    script(src="assets/app/vendor/jquery-autosize/jquery.autosize.js")
    script(src="assets/app/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js")




